-- cosshubtest.university definition

CREATE TABLE `university` (
  `univ_cd` varchar(10) NOT NULL COMMENT '대학 고유코드',
  `univ_name_arlimi` varchar(100) DEFAULT NULL COMMENT '대학명(알리미기준)',
  `univ_name` varchar(100) NOT NULL COMMENT '대학명(일반명칭)',
  `univ_name_en` varchar(100) NOT NULL COMMENT '대학명(영문)',
  `univ_type` varchar(50) NOT NULL COMMENT '학교종류',
  `establish` varchar(10) NOT NULL COMMENT '설립구분',
  `status` varchar(10) NOT NULL COMMENT '상태',
  `campus` varchar(10) NOT NULL COMMENT '캠퍼스',
  `campus_name` varchar(50) NOT NULL COMMENT '캠퍼스명',
  `locale` varchar(10) NOT NULL COMMENT '지역',
  `homepage` varchar(50) NOT NULL COMMENT '학교 홈페이지',
  `tel` varchar(20) NOT NULL COMMENT '전화번호',
  `fax` varchar(20) NOT NULL COMMENT '팩스번호',
  PRIMARY KEY (`univ_cd`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='대학교정보';

In [ ]:
# 설치되지 않은 라이브러리의 경우, 주석 해제 후 코드를 실행하여 설치
#!pip install pandas
#%pip install pandas

# Pandas
#%pip install pandas
import pandas as pd

In [ ]:
# DB 접속 정보
ip = '133.186.247.101'
id = 'root'
pwd = 'coss!@#$'

dbname = 'cosshubtest'
table = 'university'

excel_path = 'D:/OneDrive - MEDIOPIA TECH,Co.,Ltd/230801 서울여대/05.설계/01.테이블설계/01.Codes.xlsx'
sheet_name = '학교코드정보'

In [ ]:
#%pip install pymysql
import pymysql

conn = pymysql.connect(host=ip, user=id, password=pwd, db=dbname)
curs = conn.cursor(pymysql.cursors.DictCursor)

In [ ]:
# excel file load
#%pip install openpyxl
df = pd.read_excel(excel_path, sheet_name = sheet_name)

In [ ]:
# 데이터프레임의 nan 값을 None으로 변경
#df.dropna(inplace=True)
#df = df.where((pd.notnull(df)), 'None')

df = df.fillna('None')

In [ ]:
df

In [ ]:
#df.rename(columns={'대학 고유코드':'a'}, inplace=True) #특정 컬럼명 변경
#df.columns('a', 'b') 


cols_ko = list(df.columns) #컬럼 시리즈를 리스트로 변경
cols_en = list(df.iloc[0]) #데이터 시리즈를 리스트로 변경

for n in range(len(cols_ko)):
    #print(cols_en[n], cols_ko[n])
    df.rename(columns={cols_ko[n]:cols_en[n]}, inplace=True) #특정 컬럼명 변경
df = df.drop(0) #특정행 삭제

df

In [ ]:
# db truncate tables
# 기존 데이터를 삭제 후 인서트, 계속 추가하는 로직이면 삭제
sql_truncate = 'truncate table {}.{}'.format(dbname, table)

curs.execute(sql_truncate)
conn.commit()

In [ ]:
# data insert to db

field_names = ''
field_data = ''

for n in range(len(cols_en)):
    if n == 0 :
        field_names = cols_en[n]
        field_data = '%s'
    else:
        field_names = field_names + ', ' + cols_en[n]
        field_data = field_data + ', ' + '%s'
        
        
# sql_insert = 'insert into cosshubtest.university(univ_cd, univ_name_arlimi, univ_name, univ_name_en, univ_type, establish, status, campus, campus_name, locale, homepage, tel, fax) values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
# print(sql_insert)

sql_insert = 'insert into {}.{}({}) values({})'.format(dbname, table, field_names, field_data)
#print(sql)
for idx in range(len(df)):
    	curs.execute(sql_insert, tuple(df.values[idx]))
conn.commit()

# 중도탈락 현황을 DB에 등록
4-사. 중도탈락 학생 현황.xlsx + 4-바-2. 외국학생 중도탈락 현황.xlsx 을 통합

-- cosshubtest.dropout_stat definition

CREATE TABLE `dropout_stat` (
  `year` int(4) NOT NULL COMMENT '기준연도',
  `univ_cd` varchar(10) NOT NULL COMMENT '대학 고유코드',
  `stud_tot` int(5) DEFAULT 0 COMMENT '재적_학생수',
  `stud_sum` int(5) DEFAULT 0 COMMENT '재적_중도탈락_합계',
  `stud_unregist` int(5) DEFAULT 0 COMMENT '재적_중도탈락_미등록',
  `stud_unreturn` int(5) DEFAULT 0 COMMENT '재적_중도탈락_미복학',
  `stud_drop` int(5) DEFAULT 0 COMMENT '재적_중도탈락_자퇴',
  `stud_warn` int(5) DEFAULT 0 COMMENT '재적_중도탈락_학사경고',
  `stud_act` int(5) DEFAULT 0 COMMENT '재적_중도탈락_학생활동',
  `stud_expulsion` int(5) DEFAULT 0 COMMENT '재적_중도탈락_유급제적',
  `stud_attendyear` int(5) DEFAULT 0 COMMENT '재적_중도탈락_재학연한초과',
  `stud_etc` int(5) DEFAULT 0 COMMENT '재적_중도탈락_기타',
  `stud_rate` float(5,2) DEFAULT 0.00 COMMENT '재적_중도탈락_비율',
  `fresh_tot` int(5) DEFAULT 0 COMMENT '신입_학생수',
  `fresh_sum` int(5) DEFAULT 0 COMMENT '신입_중도탈락_합계',
  `fresh_unregist` int(5) DEFAULT 0 COMMENT '신입_중도탈락_미등록',
  `fresh_unreturn` int(5) DEFAULT 0 COMMENT '신입_중도탈락_미복학',
  `fresh_drop` int(5) DEFAULT 0 COMMENT '신입_중도탈락_자퇴',
  `fresh_warn` int(5) DEFAULT 0 COMMENT '신입_중도탈락_학사경고',
  `fresh_act` int(5) DEFAULT 0 COMMENT '신입_중도탈락_학생활동',
  `fresh_expulsion` int(5) DEFAULT 0 COMMENT '신입_중도탈락_유급제적',
  `fresh_attendyear` int(5) DEFAULT 0 COMMENT '신입_중도탈락_재학연한초과',
  `fresh_etc` int(5) DEFAULT 0 COMMENT '신입_중도탈락_기타',
  `fresh_rate` float(5,2) DEFAULT 0.00 COMMENT '신입_중도탈락_비율',
  `foreign_tot` int(5) DEFAULT 0 COMMENT '외국인_학생수',
  `foreign_sum` int(5) DEFAULT 0 COMMENT '외국인_중도탈락_합계',
  `foreign_degree` int(5) DEFAULT 0 COMMENT '외국인_학위과정(대학)',
  `foreign_common` int(5) DEFAULT 0 COMMENT '외국인_교육과정공동운영생',
  `foreign_lang` int(5) DEFAULT 0 COMMENT '외국인_어학연수생',
  `foreign_exchange` int(5) DEFAULT 0 COMMENT '외국인_교환학생',
  `foreign_visit` int(5) DEFAULT 0 COMMENT '외국인_방문학생',
  `foreign_etc` int(5) DEFAULT 0 COMMENT '외국인_기타연수생',
  `foreign_rate` float(5,2) DEFAULT 0.00 COMMENT '외국인_중도탈락_비율',
  PRIMARY KEY (`year`,`univ_cd`),
  KEY `univ_cd` (`univ_cd`),
  CONSTRAINT `dropout_ibfk_1` FOREIGN KEY (`univ_cd`) REFERENCES `university` (`univ_cd`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='중도탈락 학생 현황';

## 중도탈락 엑셀을 DB로 인서트
- 한국 학생 + 외국학생 두개의 파일
- 기준연도	학교종류	설립구분	지역	상태	학교	재적학생\n(A)	사유별 중도탈락 학생 계(B)	미등록	미복학	...	사유별 중도탈락 학생(신입생) 계(B`)	미등록	미복학	자퇴	학사경고	학생활동	유급제적	재학연한초과	기타	중도탈락학생(신입생)비율(%)\n(B`/A`) × 100
- 기준연도	학교종류	설립구분	지역	상태	학교	외국 재적학생 총계(A)	학위과정(대학)	교육과정공동운영생	어학연수생	...	방문학생	기타연수생	중도탈락 학생 총계(B)	학위과정(대학)	교육과정공동운영생	어학연수생	교환학생	방문학생	기타연수생	외국 학생 중도탈락률(%)(B/A)×100

In [784]:
# 설치되지 않은 라이브러리의 경우, 주석 해제 후 코드를 실행하여 설치
#!pip install pandas
#%pip install pandas

# Pandas
#%pip install pandas
import pandas as pd


# DB 접속 정보
ip = '133.186.247.101'
id = 'root'
pwd = 'coss!@#$'

dbname = 'cosshubtest'  ## 변경 필요
table_univ = 'university'    ## 변경 필요
table_dropout = 'dropout_stat'    ## 변경 필요


excel_path1 = 'D:/OneDrive - MEDIOPIA TECH,Co.,Ltd/230801 서울여대/10.대학알리미 자료/1.학생/4-사. 중도탈락 학생 현황 - 2022.xlsx'
sheet_name1 = '원본'

excel_path2 = 'D:/OneDrive - MEDIOPIA TECH,Co.,Ltd/230801 서울여대/10.대학알리미 자료/1.학생/4-바-2. 외국학생 중도탈락 현황 - 2022.xlsx'
sheet_name2 = '원본'


#%pip install pymysql
import pymysql

conn = pymysql.connect(host=ip, user=id, password=pwd, db=dbname)
curs = conn.cursor(pymysql.cursors.DictCursor)

if conn == None:
    print('DB 연결 오류')
elif curs == None:
    print('curs 연결 오류')


# excel file load
#%pip install openpyxl
df1 = pd.read_excel(excel_path1, sheet_name = sheet_name1)
df2 = pd.read_excel(excel_path2, sheet_name = sheet_name2)


print(excel_path1)
print(excel_path2)

D:/OneDrive - MEDIOPIA TECH,Co.,Ltd/230801 서울여대/10.대학알리미 자료/1.학생/4-사. 중도탈락 학생 현황 - 2022.xlsx
D:/OneDrive - MEDIOPIA TECH,Co.,Ltd/230801 서울여대/10.대학알리미 자료/1.학생/4-바-2. 외국학생 중도탈락 현황 - 2022.xlsx

In [785]:
##########################################################################
# 중도탈락 학생 현황 필드 변경 (0번째와 1번째 데이터 행을 타이틀행으로 변경)
# 엑셀의 제목행은 기본 두줄이므로 두줄을 통합해야함

# 2023년_ [4-사. 중도탈락 학생 현황]
# 제목0
# 제목1
##########################################################################

#df.rename(columns={'대학 고유코드':'a'}, inplace=True) #특정 컬럼명 변경
#df.columns('a', 'b') 

cols_field = list(df1.columns) #컬럼 시리즈를 리스트로 변경
cols_data0 = list(df1.iloc[0]) #데이터0 시리즈를 리스트로 변경
cols_data1 = list(df1.iloc[1]) #데이터1 시리즈를 리스트로 변경

for n in range(len(cols_field)):
    if pd.isna(cols_data0[n]) == True and pd.isna(cols_data1[n]) == False:
        cols_data0[n] = cols_data1[n]
        
    elif pd.isna(cols_data0[n]) == False and pd.isna(cols_data1[n]) == False:
        cols_data0[n] = cols_data0[n] + ' ' + cols_data1[n]        
    
for n in range(len(cols_field)):
    df1.rename(columns={cols_field[n]:cols_data0[n]}, inplace=True) #특정 컬럼명 변경
    
df1 = df1.drop(0) #제목 3행중 2행 삭제
df1 = df1.drop(1) #제목 3행중 2행 삭제

##########################################################################
cols_field = list(df2.columns) #컬럼 시리즈를 리스트로 변경
cols_data0 = list(df2.iloc[0]) #데이터0 시리즈를 리스트로 변경
cols_data1 = list(df2.iloc[1]) #데이터1 시리즈를 리스트로 변경

for n in range(len(cols_field)):
    if pd.isna(cols_data0[n]) == True and pd.isna(cols_data1[n]) == False:
        cols_data0[n] = cols_data1[n]
        
    elif pd.isna(cols_data0[n]) == False and pd.isna(cols_data1[n]) == False:
        cols_data0[n] = cols_data0[n] + ' ' + cols_data1[n]        
    
for n in range(len(cols_field)):
    df2.rename(columns={cols_field[n]:cols_data0[n]}, inplace=True) #특정 컬럼명 변경
    
df2 = df2.drop(0) #제목 3행중 2행 삭제
df2 = df2.drop(1) #제목 3행중 2행 삭제

In [786]:
# 데이터프레임의 nan 값을 None으로 변경
#df.dropna(inplace=True)
#df = df.where((pd.notnull(df)), 'None')

df1 = df1.fillna(0)
df2 = df2.fillna(0)

In [787]:
df1

,기준연도,학교종류,설립구분,지역,상태,학교,재적학생\n(A),사유별 중도탈락 학생 계(B),미등록,미복학,...,사유별 중도탈락 학생(신입생) 계(B`),미등록,미복학,자퇴,학사경고,학생활동,유급제적,재학연한초과,기타,중도탈락학생(신입생)비율(%)\n(B`/A`) × 100
2,2022,대학교,사립,경남,기존,가야대학교(김해),2355,218,29,50,...,36,6,0,30,0,0,0,0,0,9.40
3,2022,대학교,사립,경기,기존,가천대학교,26126,945,125,162,...,330,10,0,319,0,0,0,0,1,7.06
4,2022,대학교,사립,강원,기존,가톨릭관동대학교,10959,850,318,0,...,157,3,0,153,0,0,0,0,1,10.04
5,2022,대학교,사립,충북,기존,가톨릭꽃동네대학교,545,24,5,0,...,7,0,0,7,0,0,0,0,0,6.48
6,2022,대학교,사립,서울,기존,가톨릭대학교 _제3캠퍼스,306,6,1,0,...,1,1,0,0,0,0,0,0,0,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2022,산업대학,사립,전북,기존,호원대학교,6644,745,209,177,...,211,111,0,100,0,0,0,0,0,15.33
242,2022,대학교,사립,세종,기존,홍익대학교 _제2캠퍼스,7961,441,68,64,...,180,39,0,141,0,0,0,0,0,13.02
243,2022,대학교,사립,서울,기존,홍익대학교,17235,628,67,70,...,281,28,0,253,0,0,0,0,0,9.77
244,2022,대학교,사립,경기,기존,화성의과학대학교,586,53,4,15,...,10,0,0,10,0,0,0,0,0,14.08
245,2022,사이버대학(대학),사립,부산,기존,화신사이버대학교,1694,240,103,40,...,103,41,0,60,0,0,0,0,2,18.93

In [788]:
df2

,기준연도,학교종류,설립구분,지역,상태,학교,외국 재적학생 총계(A),학위과정(대학),교육과정공동운영생,어학연수생,...,방문학생,기타연수생,중도탈락 학생 총계(B),학위과정(대학),교육과정공동운영생,어학연수생,교환학생,방문학생,기타연수생,외국 학생 중도탈락률(%)(B/A)×100
2,2022,대학교,사립,경남,기존,가야대학교(김해),21,21,0,0,...,0,0,2,2,0,0,0,0,0,9.5
3,2022,대학교,사립,경기,기존,가천대학교,2131,1928,0,156,...,0,0,140,140,0,0,0,0,0,6.6
4,2022,대학교,사립,강원,기존,가톨릭관동대학교,49,48,1,0,...,0,0,6,5,0,1,0,0,0,12.2
5,2022,대학교,사립,경기,기존,가톨릭대학교,499,361,0,88,...,0,0,22,22,0,0,0,0,0,4.4
6,2022,대학교,사립,서울,기존,가톨릭대학교 _제2캠퍼스,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,2022,대학교,사립,충남,기존,호서대학교,355,288,0,63,...,0,0,34,22,0,12,0,0,0,9.6
220,2022,산업대학,사립,전북,기존,호원대학교,173,97,0,76,...,0,0,17,17,0,0,0,0,0,9.8
221,2022,대학교,사립,서울,기존,홍익대학교,1668,1177,0,412,...,6,0,115,75,0,40,0,0,0,6.9
222,2022,대학교,사립,세종,기존,홍익대학교 _제2캠퍼스,110,110,0,0,...,0,0,21,21,0,0,0,0,0,19.1
223,2022,사이버대학(대학),사립,부산,기존,화신사이버대학교,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0.0

In [789]:
df2.columns[12]

'기타연수생'

In [790]:
# df2의 열 삭제를 위해 열 이름 변경

df2_del = df2.columns.tolist()

print(type(df2_del), len(df2_del), df2_del)

df2_del[7] = 'DEL'
df2_del[8] = 'DEL'
df2_del[9] = 'DEL'
df2_del[10] = 'DEL'
df2_del[11] = 'DEL'
df2_del[12] = 'DEL'


# 전체 열 이름 입력하기
df2.columns = df2_del

# 선택하여 열 이름 변경하기
#df.rename(columns={'Before':'After'})

print(type(df2_del), len(df2_del), df2_del)
print(df2.columns)

<class 'list'> 21 ['기준연도', '학교종류', '설립구분', '지역', '상태', '학교', '외국 재적학생 총계(A)', '학위과정(대학)', '교육과정공동운영생', '어학연수생', '교환학생', '방문학생', '기타연수생', '중도탈락 학생 총계(B)', '학위과정(대학)', '교육과정공동운영생', '어학연수생', '교환학생', '방문학생', '기타연수생', '외국 학생 중도탈락률(%)(B/A)×100']
<class 'list'> 21 ['기준연도', '학교종류', '설립구분', '지역', '상태', '학교', '외국 재적학생 총계(A)', 'DEL', 'DEL', 'DEL', 'DEL', 'DEL', 'DEL', '중도탈락 학생 총계(B)', '학위과정(대학)', '교육과정공동운영생', '어학연수생', '교환학생', '방문학생', '기타연수생', '외국 학생 중도탈락률(%)(B/A)×100']
Index(['기준연도', '학교종류', '설립구분', '지역', '상태', '학교', '외국 재적학생 총계(A)', 'DEL', 'DEL',
       'DEL', 'DEL', 'DEL', 'DEL', '중도탈락 학생 총계(B)', '학위과정(대학)', '교육과정공동운영생',
       '어학연수생', '교환학생', '방문학생', '기타연수생', '외국 학생 중도탈락률(%)(B/A)×100'],
      dtype='object')

In [791]:
# 중복 또는 불필요한 df의 열 삭제

df1 = df1.drop(['설립구분'], axis = 1)
df1 = df1.drop(['학교종류'], axis = 1)
df1 = df1.drop(['지역'], axis = 1)
df1 = df1.drop(['상태'], axis = 1)


#df2 = df2.drop(df2.columns[7], axis=1) # 학위과정(대학) 인데 동일한 컬럼명이 모두 삭제됨


df2 = df2.drop(['설립구분'], axis = 1)
df2 = df2.drop(['학교종류'], axis = 1)
df2 = df2.drop(['지역'], axis = 1)
df2 = df2.drop(['상태'], axis = 1)

df2 = df2.drop(['DEL'], axis = 1)



# df2 = df2.drop(['학위과정(대학)'], axis = 1)
# df2 = df2.drop(['교육과정공동운영생'], axis = 1)
# df2 = df2.drop(['어학연수생'], axis = 1)
# df2 = df2.drop(['교환학생'], axis = 1)
# df2 = df2.drop(['방문학생'], axis = 1)
# df2 = df2.drop(['기타연수생'], axis = 1)

In [792]:
df1

,기준연도,학교,재적학생\n(A),사유별 중도탈락 학생 계(B),미등록,미복학,자퇴,학사경고,학생활동,유급제적,...,사유별 중도탈락 학생(신입생) 계(B`),미등록,미복학,자퇴,학사경고,학생활동,유급제적,재학연한초과,기타,중도탈락학생(신입생)비율(%)\n(B`/A`) × 100
2,2022,가야대학교(김해),2355,218,29,50,139,0,0,0,...,36,6,0,30,0,0,0,0,0,9.40
3,2022,가천대학교,26126,945,125,162,650,0,0,0,...,330,10,0,319,0,0,0,0,1,7.06
4,2022,가톨릭관동대학교,10959,850,318,0,531,0,0,0,...,157,3,0,153,0,0,0,0,1,10.04
5,2022,가톨릭꽃동네대학교,545,24,5,0,19,0,0,0,...,7,0,0,7,0,0,0,0,0,6.48
6,2022,가톨릭대학교 _제3캠퍼스,306,6,1,0,4,1,0,0,...,1,1,0,0,0,0,0,0,0,2.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2022,호원대학교,6644,745,209,177,358,0,0,0,...,211,111,0,100,0,0,0,0,0,15.33
242,2022,홍익대학교 _제2캠퍼스,7961,441,68,64,288,11,0,0,...,180,39,0,141,0,0,0,0,0,13.02
243,2022,홍익대학교,17235,628,67,70,434,35,0,0,...,281,28,0,253,0,0,0,0,0,9.77
244,2022,화성의과학대학교,586,53,4,15,34,0,0,0,...,10,0,0,10,0,0,0,0,0,14.08
245,2022,화신사이버대학교,1694,240,103,40,95,0,0,0,...,103,41,0,60,0,0,0,0,2,18.93

In [793]:
df2

,기준연도,학교,외국 재적학생 총계(A),중도탈락 학생 총계(B),학위과정(대학),교육과정공동운영생,어학연수생,교환학생,방문학생,기타연수생,외국 학생 중도탈락률(%)(B/A)×100
2,2022,가야대학교(김해),21,2,2,0,0,0,0,0,9.5
3,2022,가천대학교,2131,140,140,0,0,0,0,0,6.6
4,2022,가톨릭관동대학교,49,6,5,0,1,0,0,0,12.2
5,2022,가톨릭대학교,499,22,22,0,0,0,0,0,4.4
6,2022,가톨릭대학교 _제2캠퍼스,1,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
219,2022,호서대학교,355,34,22,0,12,0,0,0,9.6
220,2022,호원대학교,173,17,17,0,0,0,0,0,9.8
221,2022,홍익대학교,1668,115,75,0,40,0,0,0,6.9
222,2022,홍익대학교 _제2캠퍼스,110,21,21,0,0,0,0,0,19.1
223,2022,화신사이버대학교,0,1,1,0,0,0,0,0,0.0

## 두개의 파일을 두개의 키 값을 기준으로 결합

### 1. df1의 컬럼에 df2에서 가져올 컬럼으로 추가함
### 2. 연도+학교명 키값으로 두개의 df를 결합

In [794]:
# 1. df1의 컬럼에 df2에서 가져올 컬럼으로 추가함

cols_field1 = list(df1.columns) #컬럼 시리즈를 리스트로 변경
cols_field2 = list(df2.columns) #컬럼 시리즈를 리스트로 변경

In [795]:
print(cols_field1)
print(cols_field2)

['기준연도', '학교', '재적학생\n(A)', '사유별 중도탈락 학생 계(B)', '미등록', '미복학', '자퇴', '학사경고', '학생활동', '유급제적', '재학연한초과', '기타', '중도탈락학생비율(%)\n(B/A) × 100', '재적학생\n(신입생)\n(A`)', '사유별 중도탈락 학생(신입생) 계(B`)', '미등록', '미복학', '자퇴', '학사경고', '학생활동', '유급제적', '재학연한초과', '기타', '중도탈락학생(신입생)비율(%)\n(B`/A`) × 100']
['기준연도', '학교', '외국 재적학생 총계(A)', '중도탈락 학생 총계(B)', '학위과정(대학)', '교육과정공동운영생', '어학연수생', '교환학생', '방문학생', '기타연수생', '외국 학생 중도탈락률(%)(B/A)×100']

In [796]:
# 외국인 중도탈락 필드를 수동으로 지정
cols_add = [ cols_field2[2], '외국 ' + cols_field2[3], '외국 ' + cols_field2[4], '외국 ' + cols_field2[5], '외국 ' + cols_field2[6], '외국 ' + cols_field2[7], '외국 ' + cols_field2[8], '외국 ' + cols_field2[9], cols_field2[10] ]

print(cols_add)

['외국 재적학생 총계(A)', '외국 중도탈락 학생 총계(B)', '외국 학위과정(대학)', '외국 교육과정공동운영생', '외국 어학연수생', '외국 교환학생', '외국 방문학생', '외국 기타연수생', '외국 학생 중도탈락률(%)(B/A)×100']

In [797]:
#df1 = df1.reindex(columns=df1.columns.to_list() + [ '외국' + cols_field2[6], '외국' + cols_field2[13], '외국' + cols_field2[14], '외국' + cols_field2[15], '외국' + cols_field2[16], '외국' + cols_field2[17], '외국' + cols_field2[18], '외국' + cols_field2[19], '외국' + cols_field2[20] ])

for n in range(len(cols_add)): #추가할 필드만큼만 루프
    print(n, len(cols_field1)+n, cols_add[n])
    df1.insert(len(cols_field1)+n, cols_add[n], 0)

0 24 외국 재적학생 총계(A)
1 25 외국 중도탈락 학생 총계(B)
2 26 외국 학위과정(대학)
3 27 외국 교육과정공동운영생
4 28 외국 어학연수생
5 29 외국 교환학생
6 30 외국 방문학생
7 31 외국 기타연수생
8 32 외국 학생 중도탈락률(%)(B/A)×100

In [798]:
df1.columns

Index(['기준연도', '학교', '재적학생\n(A)', '사유별 중도탈락 학생 계(B)', '미등록', '미복학', '자퇴',
       '학사경고', '학생활동', '유급제적', '재학연한초과', '기타', '중도탈락학생비율(%)\n(B/A) × 100',
       '재적학생\n(신입생)\n(A`)', '사유별 중도탈락 학생(신입생) 계(B`)', '미등록', '미복학', '자퇴',
       '학사경고', '학생활동', '유급제적', '재학연한초과', '기타',
       '중도탈락학생(신입생)비율(%)\n(B`/A`) × 100', '외국 재적학생 총계(A)', '외국 중도탈락 학생 총계(B)',
       '외국 학위과정(대학)', '외국 교육과정공동운영생', '외국 어학연수생', '외국 교환학생', '외국 방문학생',
       '외국 기타연수생', '외국 학생 중도탈락률(%)(B/A)×100'],
      dtype='object')

In [799]:
df1

,기준연도,학교,재적학생\n(A),사유별 중도탈락 학생 계(B),미등록,미복학,자퇴,학사경고,학생활동,유급제적,...,중도탈락학생(신입생)비율(%)\n(B`/A`) × 100,외국 재적학생 총계(A),외국 중도탈락 학생 총계(B),외국 학위과정(대학),외국 교육과정공동운영생,외국 어학연수생,외국 교환학생,외국 방문학생,외국 기타연수생,외국 학생 중도탈락률(%)(B/A)×100
2,2022,가야대학교(김해),2355,218,29,50,139,0,0,0,...,9.40,0,0,0,0,0,0,0,0,0
3,2022,가천대학교,26126,945,125,162,650,0,0,0,...,7.06,0,0,0,0,0,0,0,0,0
4,2022,가톨릭관동대학교,10959,850,318,0,531,0,0,0,...,10.04,0,0,0,0,0,0,0,0,0
5,2022,가톨릭꽃동네대학교,545,24,5,0,19,0,0,0,...,6.48,0,0,0,0,0,0,0,0,0
6,2022,가톨릭대학교 _제3캠퍼스,306,6,1,0,4,1,0,0,...,2.04,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2022,호원대학교,6644,745,209,177,358,0,0,0,...,15.33,0,0,0,0,0,0,0,0,0
242,2022,홍익대학교 _제2캠퍼스,7961,441,68,64,288,11,0,0,...,13.02,0,0,0,0,0,0,0,0,0
243,2022,홍익대학교,17235,628,67,70,434,35,0,0,...,9.77,0,0,0,0,0,0,0,0,0
244,2022,화성의과학대학교,586,53,4,15,34,0,0,0,...,14.08,0,0,0,0,0,0,0,0,0
245,2022,화신사이버대학교,1694,240,103,40,95,0,0,0,...,18.93,0,0,0,0,0,0,0,0,0

In [800]:
df2

,기준연도,학교,외국 재적학생 총계(A),중도탈락 학생 총계(B),학위과정(대학),교육과정공동운영생,어학연수생,교환학생,방문학생,기타연수생,외국 학생 중도탈락률(%)(B/A)×100
2,2022,가야대학교(김해),21,2,2,0,0,0,0,0,9.5
3,2022,가천대학교,2131,140,140,0,0,0,0,0,6.6
4,2022,가톨릭관동대학교,49,6,5,0,1,0,0,0,12.2
5,2022,가톨릭대학교,499,22,22,0,0,0,0,0,4.4
6,2022,가톨릭대학교 _제2캠퍼스,1,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
219,2022,호서대학교,355,34,22,0,12,0,0,0,9.6
220,2022,호원대학교,173,17,17,0,0,0,0,0,9.8
221,2022,홍익대학교,1668,115,75,0,40,0,0,0,6.9
222,2022,홍익대학교 _제2캠퍼스,110,21,21,0,0,0,0,0,19.1
223,2022,화신사이버대학교,0,1,1,0,0,0,0,0,0.0

## 2. 연도+학교명 키값으로 두개의 df를 결합

- df2의 첫줄을 읽음
- df2key = 기준연도 + 학교명
- df1에서 df1key와 일치하는 레코드 확인
- 있다면.. df2의 특정 필드값을 읽어서 채움

In [801]:
print(df1.columns)
print(df2.columns)

Index(['기준연도', '학교', '재적학생\n(A)', '사유별 중도탈락 학생 계(B)', '미등록', '미복학', '자퇴',
       '학사경고', '학생활동', '유급제적', '재학연한초과', '기타', '중도탈락학생비율(%)\n(B/A) × 100',
       '재적학생\n(신입생)\n(A`)', '사유별 중도탈락 학생(신입생) 계(B`)', '미등록', '미복학', '자퇴',
       '학사경고', '학생활동', '유급제적', '재학연한초과', '기타',
       '중도탈락학생(신입생)비율(%)\n(B`/A`) × 100', '외국 재적학생 총계(A)', '외국 중도탈락 학생 총계(B)',
       '외국 학위과정(대학)', '외국 교육과정공동운영생', '외국 어학연수생', '외국 교환학생', '외국 방문학생',
       '외국 기타연수생', '외국 학생 중도탈락률(%)(B/A)×100'],
      dtype='object')
Index(['기준연도', '학교', '외국 재적학생 총계(A)', '중도탈락 학생 총계(B)', '학위과정(대학)', '교육과정공동운영생',
       '어학연수생', '교환학생', '방문학생', '기타연수생', '외국 학생 중도탈락률(%)(B/A)×100'],
      dtype='object')

In [802]:
#print(df3.loc[2])  # 첫번째 행 선택
#print(df3.loc[2, '기준연도'])  # 첫번째 행의 'Name' 열 선택
#print(df3.loc[2, '학교'])  # 첫번째 행의 'Name' 열 선택

df1key = str(df1.loc[2, '기준연도']) + df1.loc[2, '학교'] #전처리중 인덱드2줄을 삭제했기 때문에...
df2key = str(df2.loc[2, '기준연도']) + df2.loc[2, '학교']

print('df1key : ', df1key)
print('df2key : ', df2key)

df1key :  2022가야대학교(김해)
df2key :  2022가야대학교(김해)

In [803]:
for m in range(len(df2)): #df2의 키와 일치하는 값을 찾음
    df2key = str(df2.loc[2+m, '기준연도']) + df2.loc[2+m, '학교']
    #print('df2key : ', df2key)

    for n in range(len(df1)): #추가할 필드만큼만 루프
        df1key = str(df1.loc[2+n, '기준연도']) + df1.loc[2+n, '학교']
        #print('df1key : ', df1key)
        
        if df1key == df2key:
            #print('df1key : ', df1key)
            #print('df2key : ', df2key)
            
            df1list = list(df1.loc[2+n]) #df1은 24개
            df2list = list(df2.loc[2+m]) #df2는 9개
            
            #print('df1list : ', df1list)
            #print('df2list : ', df2list)
            
            
            dfadd_data = df1list[0:24] + df2list[2:]
            #print('dfadd_data : ', dfadd_data)
            
            df1.loc[2+n] = dfadd_data
            
            
            break #같은 키를 찾았으니 브레이크

C:\Users\acery\AppData\Local\Temp\ipykernel_14296\2218588485.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '9.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df1.loc[2+n] = dfadd_data

In [804]:
df1

,기준연도,학교,재적학생\n(A),사유별 중도탈락 학생 계(B),미등록,미복학,자퇴,학사경고,학생활동,유급제적,...,중도탈락학생(신입생)비율(%)\n(B`/A`) × 100,외국 재적학생 총계(A),외국 중도탈락 학생 총계(B),외국 학위과정(대학),외국 교육과정공동운영생,외국 어학연수생,외국 교환학생,외국 방문학생,외국 기타연수생,외국 학생 중도탈락률(%)(B/A)×100
2,2022,가야대학교(김해),2355,218,29,50,139,0,0,0,...,9.40,21,2,2,0,0,0,0,0,9.5
3,2022,가천대학교,26126,945,125,162,650,0,0,0,...,7.06,2131,140,140,0,0,0,0,0,6.6
4,2022,가톨릭관동대학교,10959,850,318,0,531,0,0,0,...,10.04,49,6,5,0,1,0,0,0,12.2
5,2022,가톨릭꽃동네대학교,545,24,5,0,19,0,0,0,...,6.48,0,0,0,0,0,0,0,0,0.0
6,2022,가톨릭대학교 _제3캠퍼스,306,6,1,0,4,1,0,0,...,2.04,6,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2022,호원대학교,6644,745,209,177,358,0,0,0,...,15.33,173,17,17,0,0,0,0,0,9.8
242,2022,홍익대학교 _제2캠퍼스,7961,441,68,64,288,11,0,0,...,13.02,110,21,21,0,0,0,0,0,19.1
243,2022,홍익대학교,17235,628,67,70,434,35,0,0,...,9.77,1668,115,75,0,40,0,0,0,6.9
244,2022,화성의과학대학교,586,53,4,15,34,0,0,0,...,14.08,0,0,0,0,0,0,0,0,0.0
245,2022,화신사이버대학교,1694,240,103,40,95,0,0,0,...,18.93,0,1,1,0,0,0,0,0,0.0

### 학교명을 코드명으로 변경
- 학교명과 일치하는 univ_cd를 찾아서 데이터프레임 정리

In [805]:


# db truncate tables
# 기존 데이터를 삭제 후 인서트, 계속 추가하는 로직이면 삭제
# sql_truncate = 'truncate table {}.{}'.format(dbname, table_dropout)

# curs.execute(sql_truncate)
# conn.commit()

In [806]:
# university 테이블에서 학교명과 일치하는 univ_cd를 찾음

field_names = ''
field_data = ''


sql_select = 'SELECT {}, {} FROM {}'.format('univ_cd', 'univ_name_arlimi', table_univ)
curs.execute(sql_select)

univ_data = curs.fetchall()


print(type(univ_data), univ_data)
print(type(univ_data[0]), univ_data[0])
print(type(univ_data[0]['univ_name_arlimi']), univ_data[0]['univ_name_arlimi'], univ_data[0]['univ_cd'])
#conn.commit()

<class 'list'> [{'univ_cd': '0000001', 'univ_name_arlimi': '국립강릉원주대학교'}, {'univ_cd': '0000002', 'univ_name_arlimi': '국립강릉원주대학교 _제2캠퍼스'}, {'univ_cd': '0000003', 'univ_name_arlimi': '강원대학교'}, {'univ_cd': '0000004', 'univ_name_arlimi': '강원대학교 _제2캠퍼스'}, {'univ_cd': '0000005', 'univ_name_arlimi': '경북대학교'}, {'univ_cd': '0000007', 'univ_name_arlimi': '경상국립대학교'}, {'univ_cd': '0000008', 'univ_name_arlimi': '국립공주대학교'}, {'univ_cd': '0000009', 'univ_name_arlimi': '국립군산대학교'}, {'univ_cd': '0000010', 'univ_name_arlimi': '국립금오공과대학교'}, {'univ_cd': '0000011', 'univ_name_arlimi': '국립목포대학교'}, {'univ_cd': '0000012', 'univ_name_arlimi': '국립목포해양대학교'}, {'univ_cd': '0000013', 'univ_name_arlimi': '국립부경대학교'}, {'univ_cd': '0000014', 'univ_name_arlimi': '부산대학교'}, {'univ_cd': '0000019', 'univ_name_arlimi': '서울대학교'}, {'univ_cd': '0000020', 'univ_name_arlimi': '국립순천대학교'}, {'univ_cd': '0000021', 'univ_name_arlimi': '국립안동대학교'}, {'univ_cd': '0000023', 'univ_name_arlimi': '전남대학교'}, {'univ_cd': '0000024', 'univ_name_arlimi': '전남대학교 _제2캠퍼스'}, {'univ_cd': '0000025', 'univ_name_arlimi': '전북대학교'}, {'univ_cd': '0000027', 'univ_name_arlimi': '제주대학교'}, {'univ_cd': '0000028', 'univ_name_arlimi': '국립창원대학교'}, {'univ_cd': '0000029', 'univ_name_arlimi': '충남대학교'}, {'univ_cd': '0000030', 'univ_name_arlimi': '충북대학교'}, {'univ_cd': '0000031', 'univ_name_arlimi': '한국교원대학교'}, {'univ_cd': '0000032', 'univ_name_arlimi': '한국체육대학교'}, {'univ_cd': '0000033', 'univ_name_arlimi': '국립한국해양대학교'}, {'univ_cd': '0000034', 'univ_name_arlimi': '국립한국교통대학교'}, {'univ_cd': '0000035', 'univ_name_arlimi': '경남과학기술대학교'}, {'univ_cd': '0000036', 'univ_name_arlimi': '서울과학기술대학교'}, {'univ_cd': '0000037', 'univ_name_arlimi': '한경국립대학교'}, {'univ_cd': '0000039', 'univ_name_arlimi': '국립한밭대학교'}, {'univ_cd': '0000040', 'univ_name_arlimi': '서울시립대학교'}, {'univ_cd': '0000046', 'univ_name_arlimi': '가톨릭대학교'}, {'univ_cd': '0000048', 'univ_name_arlimi': '가톨릭대학교 _제2캠퍼스'}, {'univ_cd': '0000049', 'univ_name_arlimi': '가톨릭대학교 _제3캠퍼스'}, {'univ_cd': '0000050', 'univ_name_arlimi': '감리교신학대학교'}, {'univ_cd': '0000051', 'univ_name_arlimi': '강남대학교'}, {'univ_cd': '0000052', 'univ_name_arlimi': '건국대학교'}, {'univ_cd': '0000053', 'univ_name_arlimi': '건국대학교(글로컬) _분교'}, {'univ_cd': '0000054', 'univ_name_arlimi': '건양대학교'}, {'univ_cd': '0000055', 'univ_name_arlimi': '건양대학교 _제2캠퍼스'}, {'univ_cd': '0000056', 'univ_name_arlimi': '경기대학교'}, {'univ_cd': '0000058', 'univ_name_arlimi': '경기대학교 _제2캠퍼스'}, {'univ_cd': '0000059', 'univ_name_arlimi': '경남대학교'}, {'univ_cd': '0000060', 'univ_name_arlimi': '경동대학교'}, {'univ_cd': '0000061', 'univ_name_arlimi': '대구한의대학교'}, {'univ_cd': '0000062', 'univ_name_arlimi': '경성대학교'}, {'univ_cd': '0000063', 'univ_name_arlimi': '가천대학교'}, {'univ_cd': '0000064', 'univ_name_arlimi': '경일대학교'}, {'univ_cd': '0000065', 'univ_name_arlimi': '경주대학교'}, {'univ_cd': '0000066', 'univ_name_arlimi': '경희대학교'}, {'univ_cd': '0000068', 'univ_name_arlimi': '계명대학교'}, {'univ_cd': '0000069', 'univ_name_arlimi': '고려대학교'}, {'univ_cd': '0000070', 'univ_name_arlimi': '고려대학교(세종) _분교'}, {'univ_cd': '0000071', 'univ_name_arlimi': '고신대학교'}, {'univ_cd': '0000072', 'univ_name_arlimi': '가톨릭관동대학교'}, {'univ_cd': '0000073', 'univ_name_arlimi': '광신대학교'}, {'univ_cd': '0000074', 'univ_name_arlimi': '광운대학교'}, {'univ_cd': '0000075', 'univ_name_arlimi': '광주가톨릭대학교'}, {'univ_cd': '0000076', 'univ_name_arlimi': '광주여자대학교'}, {'univ_cd': '0000078', 'univ_name_arlimi': '국민대학교'}, {'univ_cd': '0000079', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000080', 'univ_name_arlimi': '극동대학교'}, {'univ_cd': '0000081', 'univ_name_arlimi': '나사렛대학교'}, {'univ_cd': '0000082', 'univ_name_arlimi': '단국대학교'}, {'univ_cd': '0000084', 'univ_name_arlimi': '대구대학교'}, {'univ_cd': '0000087', 'univ_name_arlimi': '대구예술대학교'}, {'univ_cd': '0000088', 'univ_name_arlimi': '대구가톨릭대학교'}, {'univ_cd': '0000092', 'univ_name_arlimi': '세한대학교'}, {'univ_cd': '0000093', 'univ_name_arlimi': '대신대학교'}, {'univ_cd': '0000094', 'univ_name_arlimi': '대전가톨릭대학교'}, {'univ_cd': '0000095', 'univ_name_arlimi': '대전대학교'}, {'univ_cd': '0000097', 'univ_name_arlimi': '대진대학교'}, {'univ_cd': '0000098', 'univ_name_arlimi': '서울기독대학교'}, {'univ_cd': '0000099', 'univ_name_arlimi': '덕성여자대학교'}, {'univ_cd': '0000100', 'univ_name_arlimi': '동국대학교'}, {'univ_cd': '0000101', 'univ_name_arlimi': '동국대학교(WISE) _분교'}, {'univ_cd': '0000102', 'univ_name_arlimi': '동덕여자대학교'}, {'univ_cd': '0000103', 'univ_name_arlimi': '동서대학교'}, {'univ_cd': '0000104', 'univ_name_arlimi': '동신대학교'}, {'univ_cd': '0000105', 'univ_name_arlimi': '동아대학교'}, {'univ_cd': '0000106', 'univ_name_arlimi': '동양대학교'}, {'univ_cd': '0000107', 'univ_name_arlimi': '동의대학교'}, {'univ_cd': '0000108', 'univ_name_arlimi': '루터대학교'}, {'univ_cd': '0000109', 'univ_name_arlimi': '명지대학교'}, {'univ_cd': '0000111', 'univ_name_arlimi': '명지대학교 _제2캠퍼스'}, {'univ_cd': '0000112', 'univ_name_arlimi': '목원대학교'}, {'univ_cd': '0000113', 'univ_name_arlimi': '배재대학교'}, {'univ_cd': '0000114', 'univ_name_arlimi': '부산가톨릭대학교'}, {'univ_cd': '0000115', 'univ_name_arlimi': '부산외국어대학교'}, {'univ_cd': '0000116', 'univ_name_arlimi': '삼육대학교'}, {'univ_cd': '0000117', 'univ_name_arlimi': '상명대학교'}, {'univ_cd': '0000119', 'univ_name_arlimi': '상지대학교'}, {'univ_cd': '0000120', 'univ_name_arlimi': '서강대학교'}, {'univ_cd': '0000121', 'univ_name_arlimi': '서경대학교'}, {'univ_cd': '0000125', 'univ_name_arlimi': '서울신학대학교'}, {'univ_cd': '0000126', 'univ_name_arlimi': '서울여자대학교'}, {'univ_cd': '0000127', 'univ_name_arlimi': '서울장신대학교'}, {'univ_cd': '0000128', 'univ_name_arlimi': '서원대학교'}, {'univ_cd': '0000129', 'univ_name_arlimi': '선문대학교'}, {'univ_cd': '0000131', 'univ_name_arlimi': '성결대학교'}, {'univ_cd': '0000132', 'univ_name_arlimi': '성공회대학교'}, {'univ_cd': '0000133', 'univ_name_arlimi': '성균관대학교'}, {'univ_cd': '0000136', 'univ_name_arlimi': '성신여자대학교'}, {'univ_cd': '0000137', 'univ_name_arlimi': '세명대학교'}, {'univ_cd': '0000138', 'univ_name_arlimi': '세종대학교'}, {'univ_cd': '0000139', 'univ_name_arlimi': '수원가톨릭대학교'}, {'univ_cd': '0000140', 'univ_name_arlimi': '수원대학교'}, {'univ_cd': '0000141', 'univ_name_arlimi': '숙명여자대학교'}, {'univ_cd': '0000142', 'univ_name_arlimi': '순천향대학교'}, {'univ_cd': '0000143', 'univ_name_arlimi': '숭실대학교'}, {'univ_cd': '0000144', 'univ_name_arlimi': '신라대학교'}, {'univ_cd': '0000145', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000146', 'univ_name_arlimi': '아주대학교'}, {'univ_cd': '0000147', 'univ_name_arlimi': '안양대학교'}, {'univ_cd': '0000147-2', 'univ_name_arlimi': '안양대학교 _제2캠퍼스'}, {'univ_cd': '0000149', 'univ_name_arlimi': '연세대학교'}, {'univ_cd': '0000150', 'univ_name_arlimi': '연세대학교(미래) _분교'}, {'univ_cd': '0000151', 'univ_name_arlimi': '영남대학교'}, {'univ_cd': '0000153', 'univ_name_arlimi': '영남신학대학교'}, {'univ_cd': '0000154', 'univ_name_arlimi': '유원대학교'}, {'univ_cd': '0000155', 'univ_name_arlimi': '영산선학대학교'}, {'univ_cd': '0000156', 'univ_name_arlimi': '용인대학교'}, {'univ_cd': '0000157', 'univ_name_arlimi': '우석대학교'}, {'univ_cd': '0000158', 'univ_name_arlimi': '울산대학교'}, {'univ_cd': '0000159', 'univ_name_arlimi': '원광대학교'}, {'univ_cd': '0000160', 'univ_name_arlimi': '위덕대학교'}, {'univ_cd': '0000161', 'univ_name_arlimi': '을지대학교'}, {'univ_cd': '0000162', 'univ_name_arlimi': '을지대학교 _제2캠퍼스'}, {'univ_cd': '0000162-3', 'univ_name_arlimi': '을지대학교 _제3캠퍼스'}, {'univ_cd': '0000163', 'univ_name_arlimi': '이화여자대학교'}, {'univ_cd': '0000164', 'univ_name_arlimi': '인제대학교'}, {'univ_cd': '0000166', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000167', 'univ_name_arlimi': '인천가톨릭대학교'}, {'univ_cd': '0000168', 'univ_name_arlimi': '인천가톨릭대학교 _제2캠퍼스'}, {'univ_cd': '0000169', 'univ_name_arlimi': '인하대학교'}, {'univ_cd': '0000170', 'univ_name_arlimi': '장로회신학대학교'}, {'univ_cd': '0000171', 'univ_name_arlimi': '전주대학교'}, {'univ_cd': '0000172', 'univ_name_arlimi': '조선대학교'}, {'univ_cd': '0000173', 'univ_name_arlimi': '중부대학교'}, {'univ_cd': '0000174', 'univ_name_arlimi': '중앙대학교 _제2캠퍼스'}, {'univ_cd': '0000175', 'univ_name_arlimi': '중앙대학교'}, {'univ_cd': '0000177', 'univ_name_arlimi': '중앙승가대학교'}, {'univ_cd': '0000178', 'univ_name_arlimi': '백석대학교'}, {'univ_cd': '0000179', 'univ_name_arlimi': '청주대학교'}, {'univ_cd': '0000180', 'univ_name_arlimi': '총신대학교'}, {'univ_cd': '0000181', 'univ_name_arlimi': '추계예술대학교'}, {'univ_cd': '0000182', 'univ_name_arlimi': '한국침례신학대학교'}, {'univ_cd': '0000184', 'univ_name_arlimi': '칼빈대학교'}, {'univ_cd': '0000186', 'univ_name_arlimi': '평택대학교'}, {'univ_cd': '0000187', 'univ_name_arlimi': '차의과학대학교'}, {'univ_cd': '0000188', 'univ_name_arlimi': '포항공과대학교'}, {'univ_cd': '0000189', 'univ_name_arlimi': '한국기술교육대학교'}, {'univ_cd': '0000191', 'univ_name_arlimi': '한국성서대학교'}, {'univ_cd': '0000192', 'univ_name_arlimi': '한국외국어대학교'}, {'univ_cd': '0000194', 'univ_name_arlimi': '한국항공대학교'}, {'univ_cd': '0000195', 'univ_name_arlimi': '한남대학교'}, {'univ_cd': '0000196', 'univ_name_arlimi': '한동대학교'}, {'univ_cd': '0000197', 'univ_name_arlimi': '한라대학교'}, {'univ_cd': '0000198', 'univ_name_arlimi': '한림대학교'}, {'univ_cd': '0000199', 'univ_name_arlimi': '한서대학교'}, {'univ_cd': '0000200', 'univ_name_arlimi': '한성대학교'}, {'univ_cd': '0000201', 'univ_name_arlimi': '한세대학교'}, {'univ_cd': '0000202', 'univ_name_arlimi': '한신대학교'}, {'univ_cd': '0000203', 'univ_name_arlimi': '한양대학교'}, {'univ_cd': '0000204', 'univ_name_arlimi': '한양대학교(ERICA) _분교'}, {'univ_cd': '0000205', 'univ_name_arlimi': '서울한영대학교'}, {'univ_cd': '0000206', 'univ_name_arlimi': '한일장신대학교'}, {'univ_cd': '0000207', 'univ_name_arlimi': '협성대학교'}, {'univ_cd': '0000208', 'univ_name_arlimi': '호남대학교'}, {'univ_cd': '0000209', 'univ_name_arlimi': '호남신학대학교'}, {'univ_cd': '0000211', 'univ_name_arlimi': '호서대학교'}, {'univ_cd': '0000212', 'univ_name_arlimi': '홍익대학교'}, {'univ_cd': '0000215', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000216', 'univ_name_arlimi': '남부대학교'}, {'univ_cd': '0000218', 'univ_name_arlimi': '예원예술대학교'}, {'univ_cd': '0000218-2', 'univ_name_arlimi': '예원예술대학교 _제2캠퍼스'}, {'univ_cd': '0000221', 'univ_name_arlimi': '목포가톨릭대학교'}, {'univ_cd': '0000222', 'univ_name_arlimi': '부산장신대학교'}, {'univ_cd': '0000224', 'univ_name_arlimi': '금강대학교'}, {'univ_cd': '0000228', 'univ_name_arlimi': '예수대학교'}, {'univ_cd': '0000229', 'univ_name_arlimi': '한국국제대학교'}, {'univ_cd': '0000231', 'univ_name_arlimi': '광주대학교'}, {'univ_cd': '0000233', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000235', 'univ_name_arlimi': '동명대학교'}, {'univ_cd': '0000236', 'univ_name_arlimi': '영산대학교'}, {'univ_cd': '0000237', 'univ_name_arlimi': '영산대학교 _제2캠퍼스'}, {'univ_cd': '0000238', 'univ_name_arlimi': '대전신학대학교'}, {'univ_cd': '0000239', 'univ_name_arlimi': '중원대학교'}, {'univ_cd': '0000240', 'univ_name_arlimi': '우송대학교'}, {'univ_cd': '0000241', 'univ_name_arlimi': '김천대학교'}, {'univ_cd': '0000242', 'univ_name_arlimi': '한려대학교'}, {'univ_cd': '0000243', 'univ_name_arlimi': '송원대학교'}, {'univ_cd': '0000244', 'univ_name_arlimi': '경운대학교'}, {'univ_cd': '0000245', 'univ_name_arlimi': '남서울대학교'}, {'univ_cd': '0000246', 'univ_name_arlimi': '초당대학교'}, {'univ_cd': '0000247', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000248', 'univ_name_arlimi': '제주국제대학교'}, {'univ_cd': '0000249', 'univ_name_arlimi': '창신대학교'}, {'univ_cd': '0000250', 'univ_name_arlimi': '울산과학기술원'}, {'univ_cd': '0000251', 'univ_name_arlimi': '공주교육대학교'}, {'univ_cd': '0000252', 'univ_name_arlimi': '광주교육대학교'}, {'univ_cd': '0000253', 'univ_name_arlimi': '대구교육대학교'}, {'univ_cd': '0000254', 'univ_name_arlimi': '부산교육대학교'}, {'univ_cd': '0000255', 'univ_name_arlimi': '서울교육대학교'}, {'univ_cd': '0000256', 'univ_name_arlimi': '경인교육대학교'}, {'univ_cd': '0000257', 'univ_name_arlimi': '경인교육대학교 _제2캠퍼스'}, {'univ_cd': '0000258', 'univ_name_arlimi': '전주교육대학교'}, {'univ_cd': '0000260', 'univ_name_arlimi': '진주교육대학교'}, {'univ_cd': '0000261', 'univ_name_arlimi': '청주교육대학교'}, {'univ_cd': '0000262', 'univ_name_arlimi': '춘천교육대학교'}, {'univ_cd': '0000273', 'univ_name_arlimi': '한국방송통신대학교'}, {'univ_cd': '0000282', 'univ_name_arlimi': '호원대학교'}, {'univ_cd': '0000284', 'univ_name_arlimi': '청운대학교'}, {'univ_cd': '0000288', 'univ_name_arlimi': '정석대학'}, {'univ_cd': '0000317', 'univ_name_arlimi': '순복음총회신학교'}, {'univ_cd': '0000318', 'univ_name_arlimi': '경희사이버대학교'}, {'univ_cd': '0000319', 'univ_name_arlimi': '국제사이버대학교'}, {'univ_cd': '0000320', 'univ_name_arlimi': '대구사이버대학교'}, {'univ_cd': '0000321', 'univ_name_arlimi': '부산디지털대학교'}, {'univ_cd': '0000322', 'univ_name_arlimi': '서울디지털대학교'}, {'univ_cd': '0000323', 'univ_name_arlimi': '서울사이버대학교'}, {'univ_cd': '0000325', 'univ_name_arlimi': '세종사이버대학교'}, {'univ_cd': '0000326', 'univ_name_arlimi': '한국열린사이버대학교'}, {'univ_cd': '0000327', 'univ_name_arlimi': '원광디지털대학교'}, {'univ_cd': '0000328', 'univ_name_arlimi': '고려사이버대학교'}, {'univ_cd': '0000329', 'univ_name_arlimi': '숭실사이버대학교'}, {'univ_cd': '0000330', 'univ_name_arlimi': '디지털서울문화예술대학교'}, {'univ_cd': '0000331', 'univ_name_arlimi': '한양사이버대학교'}, {'univ_cd': '0000332', 'univ_name_arlimi': '사이버한국외국어대학교'}, {'univ_cd': '0000333', 'univ_name_arlimi': '화신사이버대학교'}, {'univ_cd': '0000334', 'univ_name_arlimi': '글로벌사이버대학교'}, {'univ_cd': '0000335', 'univ_name_arlimi': '건양사이버대학교'}, {'univ_cd': '0000374', 'univ_name_arlimi': '한국과학기술원'}, {'univ_cd': '0000381', 'univ_name_arlimi': '광주과학기술원'}, {'univ_cd': '0000382', 'univ_name_arlimi': '대구경북과학기술원'}, {'univ_cd': '0000383', 'univ_name_arlimi': '한국예술종합학교'}, {'univ_cd': '0000402', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000403', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000405', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000406', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000410', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000412', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000415', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000416', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000418', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000422', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000425', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000426', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000428', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000429', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000430', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000431', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000432', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000433', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000435', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000437', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000438', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000440', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000441', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000442', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000443', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000444', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000446', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000447', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000448', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000449', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000450', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000451', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000452', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000453', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000454', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000455', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000456', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000457', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000459', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000460', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000461', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000462', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000463', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000465', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000466', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000467', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000469', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000470', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000473', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000474', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000475', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000476', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000477', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000479', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000480', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000481', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000482', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000483', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000485', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000489', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000490', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000496', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000497', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000498', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000500', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000501', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000502', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000506', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000507', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000509', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000510', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000512', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000513', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000514', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000515', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000517', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000520', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000521', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000522', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000523', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000524', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000525', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000527', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000529', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000530', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000531', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000532', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000534', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000536', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000539', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000542', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000543', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000544', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000545', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000546', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000547', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000548', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000549', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000550', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000553', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000554', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000555', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000556', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000560', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000561', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000562', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000564', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000565', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000566', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000567', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000568', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000569', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000570', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000575', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000576', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000578', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000579', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000584', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000585', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000586', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000589', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000593', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000594', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000603', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000604', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000606', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000607', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000616', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000617', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000619', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000620', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000623', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000624', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000631', 'univ_name_arlimi': 'None'}, {'univ_cd': '0000632', '

In [807]:
for n in range(len(df1)): #df1에 통합된 중도 탈락학생 데이터프레임에서 학교명을 코드명으로 변경
    df1_univname = str(df1.loc[2+n, '학교'])
    idx = 2+n
    #print(type(df1uname), df1uname, univ_data[0]['univ_name_arlimi'])
    #print(len(univ_data))
    
    for i in range(len(univ_data)): #466
        if df1_univname == univ_data[i]['univ_name_arlimi']:
            #print(univ_data[i]['univ_name_arlimi'], univ_data[i]['univ_cd'])
            print(df1_univname, univ_data[i]['univ_name_arlimi'], univ_data[i]['univ_cd'])
            
            df1.loc[idx, '학교'] = univ_data[i]['univ_cd']
            break

가야대학교(김해) 가야대학교(김해) 0002940
가천대학교 가천대학교 0000063
가톨릭관동대학교 가톨릭관동대학교 0000072
가톨릭꽃동네대학교 가톨릭꽃동네대학교 1000001
가톨릭대학교 _제3캠퍼스 가톨릭대학교 _제3캠퍼스 0000049
가톨릭대학교 _제2캠퍼스 가톨릭대학교 _제2캠퍼스 0000048
가톨릭대학교 가톨릭대학교 0000046
감리교신학대학교 감리교신학대학교 0000050
강남대학교 강남대학교 0000051
국립강릉원주대학교 _제2캠퍼스 국립강릉원주대학교 _제2캠퍼스 0000002
국립강릉원주대학교 국립강릉원주대학교 0000001
강서대학교 강서대학교 1000002
강원대학교 강원대학교 0000003
강원대학교 _제2캠퍼스 강원대학교 _제2캠퍼스 0000004
건국대학교 건국대학교 0000052
건국대학교(글로컬) _분교 건국대학교(글로컬) _분교 0000053
건양대학교 건양대학교 0000054
건양대학교 _제2캠퍼스 건양대학교 _제2캠퍼스 0000055
건양사이버대학교 건양사이버대학교 0000335
경기대학교 경기대학교 0000056
경기대학교 _제2캠퍼스 경기대학교 _제2캠퍼스 0000058
경남과학기술대학교 경남과학기술대학교 0000035
경남대학교 경남대학교 0000059
경동대학교 _제3캠퍼스 경동대학교 _제3캠퍼스 0002574
경동대학교 _제4캠퍼스 경동대학교 _제4캠퍼스 0002744
경동대학교 경동대학교 0000060
경북대학교 경북대학교 0000005
경상국립대학교 경상국립대학교 0000007
경성대학교 경성대학교 0000062
경운대학교 경운대학교 0000244
경인교육대학교 경인교육대학교 0000256
경인교육대학교 _제2캠퍼스 경인교육대학교 _제2캠퍼스 0000257
경일대학교 경일대학교 0000064
경주대학교 경주대학교 0000065
경희대학교 경희대학교 0000066
경희사이버대학교 경희사이버대학교 0000318
계명대학교 계명대학교 0000068
고려대학교 고려대학교 0000069
고려대학교(세종) _분교 고려대학교(세종) _분교 0000070
고려사이버대학교 고려사이버대학교 0000328
고신대학교 고신대학교 0000071
공주교육대학교 공주교육대학교 0000251
광신대학교 광신대학교 0000073
광운대학교 광운대학교 0000074
광주가톨릭대학교 광주가톨릭대학교 0000075
광주과학기술원 광주과학기술원 0000381
광주교육대학교 광주교육대학교 0000252
광주대학교 광주대학교 0000231
광주여자대학교 광주여자대학교 0000076
국립공주대학교 국립공주대학교 0000008
국민대학교 국민대학교 0000078
국제사이버대학교 국제사이버대학교 0000319
국립군산대학교 국립군산대학교 0000009
극동대학교 극동대학교 0000080
글로벌사이버대학교 글로벌사이버대학교 0000334
금강대학교 금강대학교 0000224
국립금오공과대학교 국립금오공과대학교 0000010
김천대학교 김천대학교 0000241
나사렛대학교 나사렛대학교 0000081
남부대학교 남부대학교 0000216
남서울대학교 남서울대학교 0000245
단국대학교 _제2캠퍼스 단국대학교 _제2캠퍼스 0002726
단국대학교 단국대학교 0000082
대구가톨릭대학교 대구가톨릭대학교 0000088
대구경북과학기술원 대구경북과학기술원 0000382
대구교육대학교 대구교육대학교 0000253
대구대학교 대구대학교 0000084
대구사이버대학교 대구사이버대학교 0000320
대구예술대학교 대구예술대학교 0000087
대구한의대학교 대구한의대학교 0000061
대신대학교 대신대학교 0000093
대전가톨릭대학교 대전가톨릭대학교 0000094
대전대학교 대전대학교 0000095
대전신학대학교 대전신학대학교 0000238
대진대학교 대진대학교 0000097
덕성여자대학교 덕성여자대학교 0000099
동국대학교 동국대학교 0000100
동국대학교(WISE) _분교 동국대학교(WISE) _분교 0000101
동덕여자대학교 동덕여자대학교 0000102
동명대학교 동명대학교 0000235
동서대학교 동서대학교 0000103
동신대학교 동신대학교 0000104
동아대학교 동아대학교 0000105
동양대학교 동양대학교 0000106
동의대학교 동의대학교 0000107
디지털서울문화예술대학교 디지털서울문화예술대학교 0000330
루터대학교 루터대학교 0000108
명지대학교 명지대학교 0000109
명지대학교 _제2캠퍼스 명지대학교 _제2캠퍼스 0000111
목원대학교 목원대학교 0000112
목포가톨릭대학교 목포가톨릭대학교 0000221
국립목포대학교 국립목포대학교 0000011
국립목포해양대학교 국립목포해양대학교 0000012
배재대학교 배재대학교 0000113
백석대학교 백석대학교 0000178
국립부경대학교 국립부경대학교 0000013
부산가톨릭대학교 부산가톨릭대학교 0000114
부산교육대학교 부산교육대학교 0000254
부산대학교 부산대학교 0000014
부산디지털대학교 부산디지털대학교 0000321
부산외국어대학교 부산외국어대학교 0000115
부산장신대학교 부산장신대학교 0000222
사이버한국외국어대학교 사이버한국외국어대학교 0000332
삼육대학교 삼육대학교 0000116
상명대학교 _제2캠퍼스 상명대학교 _제2캠퍼스 0002959
상명대학교 상명대학교 0000117
상지대학교 상지대학교 0000119
서강대학교 서강대학교 0000120
서경대학교 서경대학교 0000121
서울과학기술대학교 서울과학기술대학교 0000036
서울교육대학교 서울교육대학교 0000255
서울기독대학교 서울기독대학교 0000098
서울대학교 서울대학교 0000019
서울디지털대학교 서울디지털대학교 0000322
서울사이버대학교 서울사이버대학교 0000323
서울시립대학교 서울시립대학교 0000040
서울신학대학교 서울신학대학교 0000125
서울여자대학교 서울여자대학교 0000126
서울장신대학교 서울장신대학교 0000127
서울한영대학교 서울한영대학교 0000205
서원대학교 서원대학교 0000128
선문대학교 선문대학교 0000129
성결대학교 성결대학교 0000131
성공회대학교 성공회대학교 0000132
성균관대학교 성균관대학교 0000133
성신여자대학교 성신여자대학교 0000136
세명대학교 세명대학교 0000137
세종대학교 세종대학교 0000138
세종사이버대학교 세종사이버대학교 0000325
세한대학교 세한대학교 0000092
송원대학교 송원대학교 0000243
수원가톨릭대학교 수원가톨릭대학교 0000139
수원대학교 수원대학교 0000140
숙명여자대학교 숙명여자대학교 0000141
순복음총회신학교 순복음총회신학교 0000317
국립순천대학교 국립순천대학교 0000020
순천향대학교 순천향대학교 0000142
숭실대학교 숭실대학교 0000143
숭실사이버대학교 숭실사이버대학교 0000329
신라대학교 신라대학교 0000144
신한대학교 _제2캠퍼스 신한대학교 _제2캠퍼스 0002712-2
신한대학교 신한대학교 0002712
아신대학교 아신대학교 1000003
아주대학교 아주대학교 0000146
국립안동대학교 국립안동대학교 0000021
안양대학교 안양대학교 0000147
안양대학교 _제2캠퍼스 안양대학교 _제2캠퍼스 0000147-2
연세대학교 연세대학교 0000149
연세대학교(미래) _분교 연세대학교(미래) _분교 0000150
영남대학교 영남대학교 0000151
영산대학교 영산대학교 0000236
영산대학교 _제2캠퍼스 영산대학교 _제2캠퍼스 0000237
영산선학대학교 영산선학대학교 0000155
예수대학교 예수대학교 0000228
예원예술대학교 _제2캠퍼스 예원예술대학교 _제2캠퍼스 0000218-2
예원예술대학교 예원예술대학교 0000218
용인대학교 용인대학교 0000156
우석대학교 우석대학교 0000157
우송대학교 우송대학교 0000240
울산과학기술원 울산과학기술원 0000250
울산대학교 울산대학교 0000158
원광대학교 원광대학교 0000159
원광디지털대학교 원광디지털대학교 0000327
위덕대학교 위덕대학교 0000160
유원대학교 유원대학교 0000154
을지대학교 _제2캠퍼스 을지대학교 _제2캠퍼스 0000162
을지대학교 을지대학교 0000161
을지대학교 _제3캠퍼스 을지대학교 _제3캠퍼스 0000162-3
이화여자대학교 이화여자대학교 0000163
인제대학교 인제대학교 0000164
인천가톨릭대학교 인천가톨릭대학교 0000167
인천가톨릭대학교 _제2캠퍼스 인천가톨릭대학교 _제2캠퍼스 0000168
인천대학교 인천대학교 0002660
인하대학교 인하대학교 0000169
장로회신학대학교 장로회신학대학교 0000170
전남대학교 전남대학교 0000023
전남대학교 _제2캠퍼스 전남대학교 _제2캠퍼스 0000024
전북대학교 전북대학교 0000025
전주교육대학교 전주교육대학교 0000258
전주대학교 전주대학교 0000171
정석대학 정석대학 0000288
제주국제대학교 제주국제대학교 0000248
제주대학교 제주대학교 0000027
조선대학교 조선대학교 0000172
중부대학교 중부대학교 0000173
중앙대학교 중앙대학교 0000175
중앙대학교 _제2캠퍼스 중앙대학교 _제2캠퍼스 0000174
중앙승가대학교 중앙승가대학교 0000177
중원대학교 중원대학교 0000239
진주교육대학교 진주교육대학교 0000260
차의과학대학교 차의과학대학교 0000187
창신대학교 창신대학교 0000249
국립창원대학교 국립창원대학교 0000028
청운대학교 청운대학교 0000284
청주교육대학교 청주교육대학교 0000261
청주대학교 청주대학교 0000179
초당대학교 초당대학교 0000246
총신대학교 총신대학교 0000180
추계예술대학교 추계예술대학교 0000181
춘천교육대학교 춘천교육대학교 0000262
충남대학교 충남대학교 0000029
충북대학교 충북대학교 0000030
칼빈대학교 칼빈대학교 0000184
평택대학교 평택대학교 0000186
포항공과대학교 포항공과대학교 0000188
한경국립대학교 한경국립대학교 0000037
한국공학대학교 한국공학대학교 1000004
한국과학기술원 한국과학기술원 0000374
한국교원대학교 한국교원대학교 0000031
국립한국교통대학교 국립한국교통대학교 0000034
한국기술교육대학교 한국기술교육대학교 0000189
한국방송통신대학교 한국방송통신대학교 0000273
한국성서대학교 한국성서대학교 0000191
한국에너지공과대학교 한국에너지공과대학교 1000005
한국열린사이버대학교 한국열린사이버대학교 0000326
한국예술종합학교 한국예술종합학교 0000383
한국외국어대학교 한국외국어대학교 0000192
한국전통문화대학교 한국전통문화대학교 0003022
한국체육대학교 한국체육대학교 0000032
한국침례신학대학교 한국침례신학대학교 0000182
한국항공대학교 한국항공대학교 0000194
국립한국해양대학교 국립한국해양대학교 0000033
한남대학교 한남대학교 0000195
한동대학교 한동대학교 0000196
한라대학교 한라대학교 0000197
한림대학교 한림대학교 0000198
국립한밭대학교 국립한밭대학교 0000039
한서대학교 한서대학교 0000199
한성대학교 한성대학교 0000200
한세대학교 한세대학교 0000201
한신대학교 한신대학교 0000202
한양대학교 한양대학교 0000203
한양대학교(ERICA) _분교 한양대학교(ERICA) _분교 0000204
한양사이버대학교 한양사이버대학교 0000331
한일장신대학교 한일장신대학교 0000206
협성대학교 협성대학교 0000207
호남대학교 호남대학교 0000208
호남신학대학교 호남신학대학교 0000209
호서대학교 호서대학교 0000211
호원대학교 호원대학교 0000282
홍익대학교 _제2캠퍼스 홍익대학교 _제2캠퍼스 0002949
홍익대학교 홍익대학교 0000212
화성의과학대학교 화성의과학대학교 1000006
화신사이버대학교 화신사이버대학교 0000333

In [808]:
df1

,기준연도,학교,재적학생\n(A),사유별 중도탈락 학생 계(B),미등록,미복학,자퇴,학사경고,학생활동,유급제적,...,중도탈락학생(신입생)비율(%)\n(B`/A`) × 100,외국 재적학생 총계(A),외국 중도탈락 학생 총계(B),외국 학위과정(대학),외국 교육과정공동운영생,외국 어학연수생,외국 교환학생,외국 방문학생,외국 기타연수생,외국 학생 중도탈락률(%)(B/A)×100
2,2022,0002940,2355,218,29,50,139,0,0,0,...,9.40,21,2,2,0,0,0,0,0,9.5
3,2022,0000063,26126,945,125,162,650,0,0,0,...,7.06,2131,140,140,0,0,0,0,0,6.6
4,2022,0000072,10959,850,318,0,531,0,0,0,...,10.04,49,6,5,0,1,0,0,0,12.2
5,2022,1000001,545,24,5,0,19,0,0,0,...,6.48,0,0,0,0,0,0,0,0,0.0
6,2022,0000049,306,6,1,0,4,1,0,0,...,2.04,6,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2022,0000282,6644,745,209,177,358,0,0,0,...,15.33,173,17,17,0,0,0,0,0,9.8
242,2022,0002949,7961,441,68,64,288,11,0,0,...,13.02,110,21,21,0,0,0,0,0,19.1
243,2022,0000212,17235,628,67,70,434,35,0,0,...,9.77,1668,115,75,0,40,0,0,0,6.9
244,2022,1000006,586,53,4,15,34,0,0,0,...,14.08,0,0,0,0,0,0,0,0,0.0
245,2022,0000333,1694,240,103,40,95,0,0,0,...,18.93,0,1,1,0,0,0,0,0,0.0

### 전처리 완료된 중도탈락 데이터를 DB에 인서트
- dbname = 'cosshubtest'  ## 변경 필요
- table_univ = 'university'    ## 변경 필요
- table_dropout = 'dropout_stat'    ## 변경 필요

In [809]:
# db truncate tables
# 기존 데이터를 삭제 후 인서트, 계속 추가하는 로직이면 삭제
sql_truncate = 'truncate table {}.{}'.format(dbname, table_dropout)

curs.execute(sql_truncate)
conn.commit()

year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate

In [831]:
# data insert to db

field_names = ''
field_data_str = ''

drop_columns = len(df1.columns) #엑셀 df읠 필드명

sql_col = 'SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = "{}"'.format(table_dropout)

curs.execute(sql_col)
#conn.commit()
col_name = curs.fetchall() #컬럼명, 리스트 안에 딕셔너리로...

col_name_list = list()
col_name_str = ''
for n in range(len(col_name)):
    col_name_list.append(col_name[n]['COLUMN_NAME'])
    
for n in range(len(col_name)):
    if n == 0:
        col_name_str = str(col_name_list[n]) 
    else:
        col_name_str = col_name_str + ', ' + str(col_name_list[n])
        

#print(col_name_str)
# print(type(col_name), len(col_name), col_name)
# print(type(col_name[0]), len(col_name[0]), col_name[0])
# print(type(col_name[0]['COLUMN_NAME']), col_name[0]['COLUMN_NAME'])


for n in range(len(df1)): #전처리 완료된 데이터 프레임 전체를 읽어서 DB에 인서트
    if n >= 2 : #첫 두줄은 제목행임
        field_data = list(df1.iloc[n]) # 시리즈 -> 리스트
        #print(field_data)
        #print(field_data[0])
        
        for m in range(len(col_name)):
            if m == 0: #2023
                field_data_str = str(field_data[m])            
            elif m == 1: # "0000069"
                field_data_str = field_data_str + ', "' + str(field_data[m] + '"')
            else:
                field_data_str = field_data_str + ', ' + str(field_data[m]) 
        
        print(type(field_data_str), field_data_str)
        sql_insert = 'insert into {}.{}({}) values({})'.format(dbname, table_dropout, col_name_str, field_data_str)
        print(n, field_data[1], sql_insert)
        curs.execute(sql_insert)
        #print(col_name_str)
        #print(field_data_str)
        
conn.commit()

# sql_insert = 'insert into cosshubtest.university(univ_cd, univ_name_arlimi, univ_name, univ_name_en, univ_type, establish, status, campus, campus_name, locale, homepage, tel, fax) values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
# print(sql_insert)


#print(sql)
# for idx in range(len(df)):
#     	curs.execute(sql_insert, tuple(df.values[idx]))
# conn.commit()

<class 'str'> 2022, "0000072", 10959, 850, 318, 0, 531, 0, 0, 0, 0, 1, 7.76, 1563, 157, 3, 0, 153, 0, 0, 0, 0, 1, 10.04, 49, 6, 5, 0, 1, 0, 0, 0, 12.2
2 0000072 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000072", 10959, 850, 318, 0, 531, 0, 0, 0, 0, 1, 7.76, 1563, 157, 3, 0, 153, 0, 0, 0, 0, 1, 10.04, 49, 6, 5, 0, 1, 0, 0, 0, 12.2)
<class 'str'> 2022, "1000001", 545, 24, 5, 0, 19, 0, 0, 0, 0, 0, 4.4, 108, 7, 0, 0, 7, 0, 0, 0, 0, 0, 6.48, 0, 0, 0, 0, 0, 0, 0, 0, 0.0
3 1000001 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "1000001", 545, 24, 5, 0, 19, 0, 0, 0, 0, 0, 4.4, 108, 7, 0, 0, 7, 0, 0, 0, 0, 0, 6.48, 0, 0, 0, 0, 0, 0, 0, 0, 0.0)
<class 'str'> 2022, "0000049", 306, 6, 1, 0, 4, 1, 0, 0, 0, 0, 1.96, 49, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2.04, 6, 0, 0, 0, 0, 0, 0, 0, 0.0
4 0000049 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000049", 306, 6, 1, 0, 4, 1, 0, 0, 0, 0, 1.96, 49, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2.04, 6, 0, 0, 0, 0, 0, 0, 0, 0.0)
<class 'str'> 2022, "0000048", 968, 15, 0, 0, 14, 0, 0, 0, 1, 0, 1.55, 184, 7, 0, 0, 7, 0, 0, 0, 0, 0, 3.8, 1, 0, 0, 0, 0, 0, 0, 0, 0.0
5 0000048 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000048", 968, 15, 0, 0, 14, 0, 0, 0, 1, 0, 1.55, 184, 7, 0, 0, 7, 0, 0, 0, 0, 0, 3.8, 1, 0, 0, 0, 0, 0, 0, 0, 0.0)
<class 'str'> 2022, "0000046", 9386, 350, 12, 88, 241, 9, 0, 0, 0, 0, 3.73, 1770, 128, 3, 0, 125, 0, 0, 0, 0, 0, 7.23, 499, 22, 22, 0, 0, 0, 0, 0, 4.4
6 0000046 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000046", 9386, 350, 12, 88, 241, 9, 0, 0, 0, 0, 3.73, 1770, 128, 3, 0, 125, 0, 0, 0, 0, 0, 7.23, 499, 22, 22, 0, 0, 0, 0, 0, 4.4)
<class 'str'> 2022, "0000050", 925, 61, 0, 0, 0, 0, 0, 0, 0, 61, 6.59, 94, 7, 0, 0, 0, 0, 0, 0, 0, 7, 7.45, 2, 0, 0, 0, 0, 0, 0, 0, 0.0
7 0000050 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000050", 925, 61, 0, 0, 0, 0, 0, 0, 0, 61, 6.59, 94, 7, 0, 0, 0, 0, 0, 0, 0, 7, 7.45, 2, 0, 0, 0, 0, 0, 0, 0, 0.0)
<class 'str'> 2022, "0000051", 8713, 476, 29, 105, 279, 10, 0, 0, 0, 53, 5.46, 1589, 142, 0, 0, 110, 0, 0, 0, 0, 32, 8.94, 79, 11, 11, 0, 0, 0, 0, 0, 13.9
8 0000051 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000051", 8713, 476, 29, 105, 279, 10, 0, 0, 0, 53, 5.46, 1589, 142, 0, 0, 110, 0, 0, 0, 0, 32, 8.94, 79, 11, 11, 0, 0, 0, 0, 0, 13.9)
<class 'str'> 2022, "0000002", 2837, 128, 3, 22, 100, 0, 0, 0, 0, 3, 4.51, 503, 24, 1, 0, 23, 0, 0, 0, 0, 0, 4.77, 4, 1, 1, 0, 0, 0, 0, 0, 25.0
9 0000002 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000002", 2837, 128, 3, 22, 100, 0, 0, 0, 0, 3, 4.51, 503, 24, 1, 0, 23, 0, 0, 0, 0, 0, 4.77, 4, 1, 1, 0, 0, 0, 0, 0, 25.0)
<class 'str'> 2022, "0000001", 7420, 458, 19, 105, 318, 7, 0, 0, 0, 9, 6.17, 1304, 95, 3, 0, 92, 0, 0, 0, 0, 0, 7.29, 284, 10, 10, 0, 0, 0, 0, 0, 3.5
10 0000001 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000001", 7420, 458, 19, 105, 318, 7, 0, 0, 0, 9, 6.17, 1304, 95, 3, 0, 92, 0, 0, 0, 0, 0, 7.29, 284, 10, 10, 0, 0, 0, 0, 0, 3.5)
<class 'str'> 2022, "1000002", 1913, 137, 4, 28, 105, 0, 0, 0, 0, 0, 7.16, 338, 60, 0, 0, 60, 0, 0, 0, 0, 0, 17.75, 378, 33, 33, 0, 0, 0, 0, 0, 8.7
11 1000002 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "1000002", 1913, 137, 4, 28, 105, 0, 0, 0, 0, 0, 7.16, 338, 60, 0, 0, 60, 0, 0, 0, 0, 0, 17.75, 378, 33, 33, 0, 0, 0, 0, 0, 8.7)
<class 'str'> 2022, "0000003", 19568, 601, 53, 0, 520, 25, 0, 0, 0, 3, 3.07, 3310, 223, 5, 0, 217, 0, 0, 0, 0, 1, 6.74, 363, 22, 22, 0, 0, 0, 0, 0, 6.1
12 0000003 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000003", 19568, 601, 53, 0, 520, 25, 0, 0, 0, 3, 3.07, 3310, 223, 5, 0, 217, 0, 0, 0, 0, 1, 6.74, 363, 22, 22, 0, 0, 0, 0, 0, 6.1)
<class 'str'> 2022, "0000004", 9406, 708, 34, 212, 447, 13, 0, 1, 0, 1, 7.53, 1509, 164, 10, 0, 154, 0, 0, 0, 0, 0, 10.87, 50, 9, 9, 0, 0, 0, 0, 0, 18.0
13 0000004 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000004", 9406, 708, 34, 212, 447, 13, 0, 1, 0, 1, 7.53, 1509, 164, 10, 0, 154, 0, 0, 0, 0, 0, 10.87, 50, 9, 9, 0, 0, 0, 0, 0, 18.0)
<class 'str'> 2022, "0000052", 22485, 679, 42, 106, 530, 0, 0, 0, 0, 1, 3.02, 3477, 317, 5, 0, 312, 0, 0, 0, 0, 0, 9.12, 2148, 58, 58, 0, 0, 0, 0, 0, 2.7
14 0000052 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000052", 22485, 679, 42, 106, 530, 0, 0, 0, 0, 1, 3.02, 3477, 317, 5, 0, 312, 0, 0, 0, 0, 0, 9.12, 2148, 58, 58, 0, 0, 0, 0, 0, 2.7)
<class 'str'> 2022, "0000053", 10228, 419, 14, 105, 300, 0, 0, 0, 0, 0, 4.1, 1668, 112, 0, 0, 112, 0, 0, 0, 0, 0, 6.71, 123, 31, 31, 0, 0, 0, 0, 0, 25.2
15 0000053 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000053", 10228, 419, 14, 105, 300, 0, 0, 0, 0, 0, 4.1, 1668, 112, 0, 0, 112, 0, 0, 0, 0, 0, 6.71, 123, 31, 31, 0, 0, 0, 0, 0, 25.2)
<class 'str'> 2022, "0000054", 3991, 267, 35, 49, 179, 2, 2, 0, 0, 0, 6.69, 777, 65, 12, 0, 53, 0, 0, 0, 0, 0, 8.37, 166, 7, 2, 0, 4, 1, 0, 0, 4.2
16 0000054 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000054", 3991, 267, 35, 49, 179, 2, 2, 0, 0, 0, 6.69, 777, 65, 12, 0, 53, 0, 0, 0, 0, 0, 8.37, 166, 7, 2, 0, 4, 1, 0, 0, 4.2)
<class 'str'> 2022, "0000055", 4125, 169, 26, 17, 125, 0, 0, 0, 0, 1, 4.1, 874, 72, 9, 0, 63, 0, 0, 0, 0, 0, 8.24, 4, 0, 0, 0, 0, 0, 0, 0, 0.0
17 0000055 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000055", 4125, 169, 26, 17, 125, 0, 0, 0, 0, 1, 4.1, 874, 72, 9, 0, 63, 0, 0, 0, 0, 0, 8.24, 4, 0, 0, 0, 0, 0, 0, 0, 0.0)
<class 'str'> 2022, "0000335", 3700, 286, 139, 45, 94, 6, 0, 0, 0, 2, 7.73, 996, 104, 53, 0, 51, 0, 0, 0, 0, 0, 10.44, 10, 1, 1, 0, 0, 0, 0, 0, 10.0
18 0000335 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000335", 3700, 286, 139, 45, 94, 6, 0, 0, 0, 2, 7.73, 996, 104, 53, 0, 51, 0, 0, 0, 0, 0, 10.44, 10, 1, 1, 0, 0, 0, 0, 0, 10.0)
<class 'str'> 2022, "0000056", 16071, 652, 64, 166, 401, 16, 1, 0, 0, 4, 4.06, 2799, 190, 3, 0, 187, 0, 0, 0, 0, 0, 6.79, 988, 66, 66, 0, 0, 0, 0, 0, 6.7
19 0000056 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000056", 16071, 652, 64, 166, 401, 16, 1, 0, 0, 4, 4.06, 2799, 190, 3, 0, 187, 0, 0, 0, 0, 0, 6.79, 988, 66, 66, 0, 0, 0, 0, 0, 6.7)
<class 'str'> 2022, "0000058", 2617, 130, 27, 53, 47, 3, 0, 0, 0, 0, 4.97, 382, 19, 3, 0, 16, 0, 0, 0, 0, 0, 4.97, 662, 65, 65, 0, 0, 0, 0, 0, 9.8
20 0000058 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000058", 2617, 130, 27, 53, 47, 3, 0, 0, 0, 0, 4.97, 382, 19, 3, 0, 16, 0, 0, 0, 0, 0, 4.97, 662, 65, 65, 0, 0, 0, 0, 0, 9.8)
<class 'str'> 2022, "0000035", 5444, 286, 22, 96, 166, 2, 0, 0, 0, 0, 5.25, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0
21 0000035 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000035", 5444, 286, 22, 96, 166, 2, 0, 0, 0, 0, 5.25, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0)
<class 'str'> 2022, "0000059", 14486, 935, 73, 268, 593, 0, 0, 0, 0, 1, 6.45, 1920, 114, 13, 0, 101, 0, 0, 0, 0, 0, 5.94, 277, 11, 11, 0, 0, 0, 0, 0, 4.0
22 0000059 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000059", 14486, 935, 73, 268, 593, 0, 0, 0, 0, 1, 6.45, 1920, 114, 13, 0, 101, 0, 0, 0, 0, 0, 5.94, 277, 11, 11, 0, 0, 0, 0, 0, 4.0)
<class 'str'> 2022, "0002574", 4570, 198, 12, 38, 146, 2, 0, 0, 0, 0, 4.33, 1041, 71, 6, 0, 65, 0, 0, 0, 0, 0, 6.82, 0, 0, 0, 0, 0, 0, 0, 0, 0.0
23 0002574 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0002574", 4570, 198, 12, 38, 146, 2, 0, 0, 0, 0, 4.33, 1041, 71, 6, 0, 65, 0, 0, 0, 0, 0, 6.82, 0, 0, 0, 0, 0, 0, 0, 0, 0.0)
<class 'str'> 2022, "0002744", 3743, 228, 23, 81, 119, 3, 1, 0, 0, 1, 6.09, 662, 43, 7, 0, 35, 0, 0, 0, 0, 1, 6.5, 113, 3, 3, 0, 0, 0, 0, 0, 2.7
24 0002744 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0002744", 3743, 228, 23, 81, 119, 3, 1, 0, 0, 1, 6.09, 662, 43, 7, 0, 35, 0, 0, 0, 0, 1, 6.5, 113, 3, 3, 0, 0, 0, 0, 0, 2.7)
<class 'str'> 2022, "0000060", 810, 148, 10, 64, 63, 1, 0, 0, 0, 10, 18.27, 52, 6, 0, 0, 5, 0, 0, 0, 0, 1, 11.54, 417, 55, 55, 0, 0, 0, 0, 0, 13.2
25 0000060 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000060", 810, 148, 10, 64, 63, 1, 0, 0, 0, 10, 18.27, 52, 6, 0, 0, 5, 0, 0, 0, 0, 1, 11.54, 417, 55, 55, 0, 0, 0, 0, 0, 13.2)
<class 'str'> 2022, "0000005", 28693, 1167, 56, 154, 911, 35, 0, 0, 2, 9, 4.07, 5006, 461, 6, 0, 455, 0, 0, 0, 0, 0, 9.21, 1099, 36, 36, 0, 0, 0, 0, 0, 3.3
26 0000005 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000005", 28693, 1167, 56, 154, 911, 35, 0, 0, 2, 9, 4.07, 5006, 461, 6, 0, 455, 0, 0, 0, 0, 0, 9.21, 1099, 36, 36, 0, 0, 0, 0, 0, 3.3)
<class 'str'> 2022, "0000007", 19312, 925, 46, 163, 700, 14, 0, 0, 0, 2, 4.79, 4512, 306, 16, 0, 290, 0, 0, 0, 0, 0, 6.78, 269, 24, 11, 0, 10, 3, 0, 0, 8.9
27 0000007 insert into cosshubtest.dropout_stat(year, univ_cd, stud_tot, stud_sum, stud_unregist, stud_unreturn, stud_drop, stud_warn, stud_act, stud_expulsion, stud_attendyear, stud_etc, stud_rate, fresh_tot, fresh_sum, fresh_unregist, fresh_unreturn, fresh_drop, fresh_warn, fresh_act, fresh_expulsion, fresh_attendyear, fresh_etc, fresh_rate, foreign_tot, foreign_sum, foreign_degree, foreign_common, foreign_lang, foreign_exchange, foreign_visit, foreign_etc, foreign_rate) values(2022, "0000007", 19312, 925, 46, 163, 700, 14, 0, 0, 0, 2, 4.79, 4512, 306, 16, 0, 290, 0, 0, 0, 0, 0, 6.78, 269, 24, 11, 0, 10, 3, 0, 0, 8.9)

## 이상 uiversity와 dropout_stat 테이블 생성 완료